.apps.overflow-auto::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.apps-reg{
  text-align:left;
}
.apps-reg a{
  font-size:1.5rem;
  color:#ffffff;
}
.apps-reg a:hover{
  color:#0645AD;
}
.grid{
  margin:20 auto;
  text-align:left;
}
.grid li{
  display:inline-block;
  vertical-align:top;
  margin-right:2rem;
}
.card{
  height:20rem;
  width:15rem;
  background-color:#000000;
}
.card .card-img-top{
  height:10rem;
  width:10rem;
}
.card-body *{
  color:#ffffff;
  text-align:left;
}
