[submodule "jobqueue"]
	path = jobqueue
	url = https://github.com/onichandame/jobqueue.git
[submodule "central"]
	path = central
	url = git@github.com:onichandame/central-server.git
[submodule "home"]
	path = home
	url = git@github.com:onichandame/homepage.git
