extends base.pug
block append head 
  link(rel="stylesheet",href="/err.css")
block main
  div(class="info")
    h1 Error #{code}
    p(class="sub") #{desc}
  div(class="solution")
    h1 Solution
    ol(class="sub")
      each item in sol
        li= item
    block solution
