extends base.pug
block overbar
  nav(class="navbar navbar-expand-lg navbar-light bg-secondary justify-content-between")
    img(class="navbar-brand",src="/worklog.jpg",style="height:50px")
    div(class="dropdown")
      a(href="#",class="text-white nav-link dropdown-toggle",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") #{auth.info.username}
      ul(class="dropdown-menu bg-dark")
        li
          if auth.scope<0
            a(class="nav-link text-white",href="/auth") Login
          else
            a(class="nav-link text-white",href="/logout") Logout
        li(role="separator",class="divider")
block main
  if auth.scope>0
    script(src="/worklog.js")
    div(class="row",style="margin: auto")
      div(class="col")
        ul(class="list-group selection",id="tasklist")
          li(class="list-group-item") hello
          li(class="list-group-item") hello
          li(class="list-group-item dropdown")
            a(href="#",class="nav-link dropdown-toggle",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") Task2
            div(class="dropdown-menu")
              a(class="dropdown-item") subtask
        button(class="btn btn-outline-secondary",type="button",data-toggle="modal",data-target="#newTask") New Task
        div(class="modal fade",id="newTask",role="dialog")
          div(class="modal-dialog")
            div(class="modal-content")
              div(class="modal-header")
                h4(class="modal-title text-left") New Task
                button(type="button",class="close",data-dismiss="modal") &times;
              div(class="modal-body col")
                select(class="form-control row ml-1",id="importance")
                  option(value="0") primary
                  option(value="1") auxiliary
                  option(value="2") part-time
                div(class="input-group mb-3 ml-1")
                  input(type="text",class="form-control",placeholder="task descriptioin",id="description")
                  div(class="input-group-append")
                    button(class="btn btn-outline-primary",type="button",onClick="create()",data-dismiss="modal") Create Task
      div(class="col")
        ul(class="list-group",id="diary")
          li(class="list-group-item") log1
          li(class="list-group-item") log2
        div(class="input-group mb-3")
          input(type="text",class="form-control",placeholder="comment...",aria-label="comment",id="inp")
          div(class="input-group-append")
            button(class="btn btn-outline-primary",type="button",onClick="submit()") Finish
      div(class="col")
        div(class="container")
          div(id="date")
          ul(class="clock text-center")
            li(id="hours")
            li(id="point") :
            li(id="minutes")
            li(id="point") :
            li(id="seconds")
        div(class="row")
        div(class="input-group")
          input(type="text",class="form-control",placeholder="comment...",aria-label="comment",id="cocl")
          div(class="input-group-append")
            button(class="btn btn-outline-primary",type="button",onClick="conclude()") Leave
  else
    div(class="row about")
block foot
