extends base.main.pug 

block main
  div(class="row img-profile")
    img(class="img-fluid",src="resume-main.jpeg",alt="selfie",style="width:100%")
    div(class="bottom-caption")
      h1(class="font-weight-bold") Xiao Zhang
      h4 Developer and Researcher
  div(class="row-xs-12")
    h3(class="text-center") Welcome!
    p(class="text-center") Thanks for stopping by. Here you can find some work and programs I've made. The links below are for you if you would like to take a look.
  div(class="row")
    div(class="col card")
      img(class="card-img-top",src="https://www.dicomstandard.org/wp-content/uploads/2017/01/DICOM-Logo.jpg")
      div(class="card-body")
        h5(class="card-title") DICOM Toolkit
        p(class="card-text") This toolkit written in Python is designed to read/write DICOM CT/RS files. It has been tested against real-case CT/RS datasets.
        a(class="btn btn-info",role="button",href="https://github.com/onichandame/dcmio") Go to repo
    div(class="col card")
      img(class="card-img-top",src="nodejs.svg")
      div(class="card-body")
        h5(class="card-title") This Website
        p(class="card-text") The source code of this website which is solely based on Node.js, Express.js, Bootstrap and Pug
        a(class="btn btn-info",role="button",href="https://github.com/onichandame/personalweb") Go to repo
    div(class="col")
    div(class="col")
  div(class="row")
  div(class="row-xs-12")
    p(class="text-center") In case any of the above brings your interest, here are links to get in touch.
  a(class="row",href="mailto:zxinmyth@gmail.com") E-mail
  a(class="row",href="tel:+8613924338335") Mobile
