extends base.main.pug

block main
  h2
    a(class="btn btn-primary",role="button",href="https://github.com/onichandame/personalweb") Source
  h4
    a(class="btn btn-info",role="button",href="https://github.com/onichandame/personalweb/blob/master/LICENSE") LICENSE
