extends base.pug 
block append head
  link(rel="stylesheet",href="/activate.css")

block main
  div
    h1(class="title") Hi #{given_name}, only 1 more step to create your account
  div
    a(href=code,class="body") Click to register
block append script
  script(src="/activate.js")
