extends base.pug 
block main
  h1(class="title") Hi #{given_name}, only 1 more step to create your account
  a(href="#{secret}",class="body") Click to register
block append script
  script(src="/activation.js")
