extends main.pug
append head
  link(rel="stylesheet",href="/app.css")
block main
  div(class="apps overflow-auto")
    ul(class="grid")
  div(class="apps-reg")
    a(class="nav-link",href="#") Register your own link
append script
  script(src="/app.js")
  script(src="/apps.js")
