extends base.auth.pug 

block main
  div(class="col-xs-3")
  form(class="col-xs-6",id="login")
    div(class="form-group")
      label(for="username") Who are you
      input(type="text",class="form-control",name="username",placeholder="my name")
    div(class="form-group col")
      label(for="password") What is your code
      input(type="password",class="form-control",name="password",placeholder="my passphrase")
    button(type="submit",class="btn btn-primary col center-block") Login
    a(href='/oauth/register-user') Register
  div(class="col-xs-3")
  script(src="/authorise.js")
