extends err.base.pug 

block title 
  h1 Error 400
block descriptioin 
  p(class="sub") Your request could not be processed because the input received does not satisfy criteria
block solution
  ol(class="sub")
    li Change your request to meet the requirement and re-submit
