extends base.pug

block overbar
  header
    nav(class="navbar navbar-expand-lg navbar-light bg-secondary")
      a(class="navbar-brand",href="/") Home
      button(class="navbar-toggler",type="button",data-toggle="collapse",data-target="#overbar",aria-controls="overbar",aria-expanded="false",aria-label="Show Top-bar")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse",id="overbar")
        ul(class="navbar-nav mr-auto")
          li(class="nav-item active")
            a(class="nav-link",href="/project") Projects
          li(class="nav-item active")
            a(class="nav-link",href="/about") About
          #scope
          if scope>0
            li(class="nav-item dropdown")
              a(href="#",class="nav-link dropdown-toggle",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") Gallery
                span(class="caret")
              ul(class="dropdown-menu")
                li
                  a(class="nav-link",href="/documents") Documents
                li(role="separator",class="divider")
                li
                  a(class="nav-link",href="/camera") DCIM
                li(role="separator",class="divider")
                li
                  a(class="nav-link",href="/videos") Videos
        div(class="dropdown-divider")
        ul(class="nav navbar-nav navbar-right")
          li(class="dropdown")
            #scope
            if scope<0
              a(class="nav-link",role="button",href="/auth") Login
            else
              a(href="#",class="nav-link dropdown-toggle",data-toggle="dropdown",role="button",aria-haspopup="true",aria-expanded="false") Account
              span(class="caret")
            ul(class="dropdown-menu")
              li
                a(class="nav-link",href="/profile") Profile
              li(role="separator",class="divider")
              li
                a(class="nav-link",href="/logout") Log out
