extends err.base.pug 

block title 
  h1 Error 303
block descriptioin 
  p(class="sub") Your request could not be processed because an existing resource already exists.
block solution
  ol(class="sub")
    li Change your request and re-submit
