extends base.pug
block overbar
  nav(class="navbar navbar-expand-lg navbar-light bg-secondary justify-content-between")
    img(class="navbar-brand",src="worklog.jpg",style="height:50px")
    div(class="dropdown")
      a(href="#",class="nav-link dropdown-toggle",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") #{auth.info.username}
      ul(class="dropdown-menu")
        li
          if auth.scope<0
            a(class="nav-link",href="/auth") Login
          else
            a(class="nav-link",href="/logout") Logout
        li(role="separator",class="divider")
  if auth.scope>0
    div(class="row")
      ul(class="col list-group",id="tasklist")
        li(class="list-group-item nav-link") hello
        li(class="list-group-item nav-link") hello
        li(class="list-group-item dropdown")
          a(href="#",class="nav-link dropdown-toggle",data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") Task2
          div(class="dropdown-menu")
            a(class="dropdown-item") subtask
      div(class="col")
        div(class="log")
        div(class="textbox")
      div(class="col")
        div(class="status")
        div(class="row")
          div(class="col")
            div(class="finish")
            div(class="select")
          div(class="col dibout")
  else
    div(class="row about")
  script(src="tasklist.worklog.js")
block main 
block foot
