extends form.pug 

prepend main
  h1(class="col-12 text-center") Register the first app to manage user accounts
block form
  div(class="form-group")
    div(class="name input-group input-group-lg row")
      input(type="text",class="form-control",name="name",placeholder="App name")
  div(class="form-group")
    div(class="form-check form-check-inline")
      input(class="form-check-input",type="radio",name="inlineRadioOptions",id="inlineRadio1",value="0")
      label(class="form-check-label",for="inlineRadio1") web
    div(class="form-check form-check-inline")
      input(class="form-check-input",type="radio",name="inlineRadioOptions",id="inlineRadio2",value="1")
      label(class="form-check-label",for="inlineRadio2") native
  div(class="form-group")
    div(class="callback input-group input-group-lg row")
      input(type="text",class="form-control",name="callback",placeholder="Redirect URI")
  div(class="row justify-content-center")
    button(id="submit",type="button",class="col-xs-10 col-md-6 col-lg-3 btn btn-primary col center-block",style="font-size:1.5rem;") Register
block append script
  script(src="/init.admin.js")
