extends base.auth.pug

block main
  div(class="container")
    div(class="row")
      div(class="col")
      form(class="col",action='/auth',method='post',name='login-form')
        div(class="form-group col")
          label(for="username") Who are you
          input(type="text",class="form-control",name="username",placeholder="my name")
        div(class="form-group col")
          label(for="password") What is your code
          input(type="password",class="form-control",name="password",placeholder="my passphrase")
        div(class="row")
          div(class="col")
            a(href='/register') Register
          button(type="submit",class="btn btn-primary col center-block") Login
          div(class="col")
      div(class="col")
