extends base.pug

append head
  link(rel="stylesheet",href="/main.css")
  link(rel="stylesheet",href="/overbar.css")
block overbar
  header
    ul(class="col-xs-12 overbar")
      li(id="home")
        a(class="active",href="/") Home
      li(id="apps")
        a(class="dropdown",href="/apps") Apps
      li(id="about") 
        a(href="/about") About
      li(id="user")
        a(class="dropdown",href="#") Account
block script
  script(src="/user.js")
  script(src="/apps.js")
