extends form.pug 

block form
  div(class="form-group")
    div(class="email input-group input-group-lg row")
      input(type="text",class="form-control",name="address",placeholder="Email")
      div(class="input-group-append")
        span(class="input-group-text") @
      input(type="text",class="form-control col-3",name="postfix",placeholder=".com")
  div(class="form-group")
    div(class="name input-group input-group-lg row")
      input(type="text",class="form-control",name="given_name",placeholder="Given Name")
      button(type="button",class="swap btn btn-default")
        img(src="/refresh.svg",width="40rem",height="auto")
      input(type="text",class="form-control",name="family_name",placeholder="Family Name")
  button(id="submit",type="submit",class="col-xs-12 col-md-8 col-lg-6 btn btn-primary col center-block") Sign up
block append script
  script(src="/newuser.js")
