extends base.main.pug

block main 
  div(class="row-xs-12")
    h3(class="text-center") My Web Apps
  div(class="row")
    div(class="col card")
      a(href="/diary",class="card-body")
        h5(class="card-title") Worklog
        p(class="card-text") This app allows the record of everyday task and process.
    div(class="col")
    div(class="col")
    div(class="col")
