#profile{
  padding-left:auto;
  padding-right:auto;
  padding-top:2rem;
  padding-bottom:2rem;
  display:flex;
  flex-flow:column;
}
#profile img{
  width:50%;
  border-radius:50%;
  padding-top:3rem;
  padding-bottom:3rem;
}
#experience{
  overflow:scroll;
  flex-grow:1;
  align-items:center;
  justify-content:center;
  margin-left:5%;
  margin-right:5%;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
#experience ul{
  font-size:1.2rem;
  list-style-type:square;
}
#experience ul li{
  font-size:1rem;
}
#welcome{
  background-image:url("home.jpg");
  height:500px;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  position:relative;
}
.welcome-text{
  text-align:center;
  position:absolute;
  top:95%;
  left:50%;
  transform:translate(-50%,-50%);
}
#cvs{
  padding-left:auto;
  padding-right:auto;
  padding-top:2rem;
  padding-bottom:2rem;
  display:flex;
  flex-flow:column;
}
#projects{
  margin-top:5rem;
  overflow:scroll;
  flex-grow:1;
  align-items:center;
  justify-content:center;
  margin-left:5%;
  margin-right:5%;
}
#projects .card{
}
