#headline{
  padding-top:3rem;
  padding-bottom:3rem;
}
#experience{
  overflow:scroll;
  flex-grow:1;
  align-items:center;
  justify-content:center;
  margin-left:5%;
  margin-right:5%;
}
#experience.overflow-auto::-webkit-scrollbar {
    width: 10px;
    background: #222222; /* make scrollbar transparent */
}
#experience.overflow-auto::-webkit-scrollbar-thumb {
  background:#999999;
}
#experience ul{
  font-size:1.2rem;
  list-style-type:square;
}
#experience ul li{
  font-size:1rem;
}
#projects.overflow-auto::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
}
.welcome{
  position:relative;
  text-align:center;
}
.welcome-title{
  font-size:2rem;
}
.welcome-text{
  font-size:1.5rem;
}
.grid{
  margin:0 auto;
  text-align:left;
}
.grid li{
  display:inline-block;
  vertical-align:top;
}
.card{
  height:30rem;
  width:20rem;
  background-color:#000000;
}
.card .card-img-top{
  height:20rem;
  width:20rem;
}
.card-body *{
  color:#ffffff;
  text-align:left;
}
