.x-avatar{
  vertical-align:middle;
  height:5rem;
  width:5rem;
  border-radius:50%;
}
.x-background{
  background-color:#000000;
}
.navbar.x-navbar{
  background-color:#222222;
}
a.x-navbar{
  color:#999999;
}
a.x-navbar:hover{
  color:#ffffff;
}
.img-profile{
  position: relative;
  text-align: center;
  color: white;
}
.img-profile .bottom-caption{
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%,0);
}
.selection .list-group-item:not(.active):hover{
  background-color: #03e8fc;
}
#date{
  font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-align: center;
  text-shadow: 0 0 5px #00c6ff;
}
.clock+ul{
  width: 800px;
  margin: 0 auto;
  padding: 0px;
  list-style: none;
  text-align: center;
}
.clock li{
  display: inline;
  font-size: 30px;
  text-align: center;
  font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
  text-shadow: 0 0 5px #00c6ff;
}
#point{
  position: relative;
  -moz-animation: mymove 1s ease infinite;
  -webkit-animation: mymove 1s ease infinite;
  padding-left: 10px;
  padding-right: 10px;
}
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}

50% {
    opacity: 0;
    text-shadow: none;
}

100% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    };
}
