.img-profile{
  position: relative;
  text-align: center;
  color: white;
}
.img-profile .bottom-caption{
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%,0);
}
.selection .list-group-item:not(.active):hover{
  background-color: #03e8fc;
}
