extends main.pug

append head
  link(rel="stylesheet",href="/home.css")
block main
  div(class="container-fluid")
    div(class="row",id="home")
      div(class="col-xs-12 col-lg-3 col-xl-2 text-center",id="profile")
        div(class="container",id="headline")
          img(class="col-xs-12 rounded-circle",src="/avatar.jpg",style="width:100%;")
          h3(class="col-xs-12") Xiao Zhang
          p(class="col-xs-12") Physicist & Programmer
        div(class="container text-left overflow-auto",id="experience")
      div(class="container-fluid col-xs-12 col-lg-9 col-xl-10 overflow-auto",id="projects")
        div(class="row text-center welcome")
          img(src="home.jpg",class="col-xs-12",style="width:100%;")
        h1(class="text-center") Welcome
        h3(class="text-center") Thanks for stopping by. Here you can find some work I've done.
        ul(class="grid")
append script
  script(src="/home.js")
  script(src="/experience.js")
  script(src="/projects.js")
