extends ../base.pug

append head
  link(rel="stylesheet",href="/main.css")
  link(rel="stylesheet",href="/overbar.css")
block overbar
  header
    nav(class="navbar navbar-expand-lg navbar-dark",style="background-color:#222222;color:#999999;")
      a(class="navbar-brand",href="/") Xiao's
      button(class="navbar-toggler",type="button",data-toggle="collapse",data-target="#overbar",navbar-controls="overbar",aria-expanded="false",aria-label="Expand")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse",id="overbar")
        ul(class="nav navbar-nav mr-auto")
          li(class="nav-item home")
            a(class="nav-link",href="/") Home
          li(class="nav-item app dropdown")
            a(class="nav-link dropdown-toggle",id="appd",data-toggle="dropdown" aria-haspopup="true",aria-expanded="false",aria-label="expand",href="#") App
            div(class="dropdown-menu",aria-labelledby="appd")
          li(class="nav-item about")
            a(class="nav-link",href="/about") About
        ul(class="nav navbar-nav navbar-right")
          li(class="nav-item user dropdown")
            a(class="nav-link dropdown-toggle",id="userd",data-toggle="dropdown" aria-haspopup="true",aria-expanded="false",aria-label="expand",href="#") Account
            div(class="dropdown-menu",aria-labelledby="userd")
block script
  script(src="/common/hover.js")
  script(src="/common/xhr.js")
  script(src="/common/load.js")
  script(src="/home/userd.js")
  script(src="/home/appd.js")
