extends ../base.pug
block append head 
  link(rel="stylesheet",href="/err.css")
block main
  div(class="info")
    block title 
    block descriptioin
  div(class="solution")
    block solution-title
      h1 Solution
    block solution
