extends base.pug 

block title 
  h1 Error S422
block descriptioin 
  p(class="sub") Your request could not be processed because your input data is invalid.
block solution
  ol(class="sub")
    li Check your query params if GET and form entries if POST
    li If the error persists, contact the maintainer of this site
