extends base.pug 

block title 
  h1 Error 405
block descriptioin 
  p(class="sub") The server could not process your request because an unsupported method was used.
block solution
  ol(class="sub")
    li Clear cookies and refresh page
    li If the error persists, contact the maintainer of this site
