extends base.pug 

block title 
  h1 Error 500
block descriptioin 
  p(class="sub") An unknown error occurred in the server. It is confirmed that your latest request has failed.
block solution
  ol(class="sub")
    li Try again
    li If the error persists, contact the maintainer of this site
