extends ../../base.pug


block overbar
  header
    nav(class="navbar navbar-expand-lg x-navbar")
      a(class="navbar-brand x-navbar",id="home") Home
      button(class="navbar-toggler x-navbar",type="button",data-toggle="collapse",data-target="#overbar",aria-controls="overbar",aria-expanded="false",aria-label="Show Top-bar")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse",id="overbar")
        ul(class="navbar-nav mr-auto",id="nav")
          li(class="nav-item")
            a(class="nav-link x-navbar",id="app") Apps
          li(class="nav-item")
            a(class="nav-link x-navbar",id="about") About
        div(class="dropdown-divider")
        ul(class="nav navbar-nav navbar-right")
          li(class="dropdown",id="user")
block main
  div(id="root")
block append script
  script(src="/core/main/main.js")
