extends form.auth.pug

block main
  form(class="col-xs-10 col-sm-8 col=md-6 col-lg-3 mx-auto",id="form-regapp")
    div(class="form-group")
      label(for="appname") Application Name
      input(type="text",class="form-control",name="appname",placeholder="xxxx")
    div(class="form-group")
      label(for="url") Main Page
      input(type="url",class="form-control",name="url",placeholder="www.xxxx.com")
    div(class="form-group")
      label(for="redirect") Redirect URI
      input(type="text",class="form-control",name="redirect",placeholder="www.xxxx.com/xxxx")
    button(id="submit",type="submit",class="btn btn-primary col center-block") Submit
